@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
nav {
    background-color: #1f2937;
    padding: 1rem 0rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
nav .logo img {
    width: 200px;
    height: 50px;    
}
.header-links ul {
    display: flex;
    gap: 4rem;
    list-style-type: none;
}

a:link {
    text-decoration: none;
    color: #f9faf8;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
       
    

}
a:visited {
    text-decoration: none;
    color: #f9faf8;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
a:hover {
    text-decoration: none;
    color: #78f001;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    
}   
    
a:active {
    text-decoration: none;
    color: #f9faf8;
    font-size: 1.5rem;
    font-weight: 400;
    font-family:'Roboto', sans-serif;
}


.main {
    background-color: #1f2937;
    padding: 4rem 9rem;
    display: flex;
    justify-content:space-around;
    align-items: center;
    gap: 3rem;
       
}
.left-text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
h3, p {
    font-family: 'Roboto', sans-serif;
    color:  #f9faf8;
    
    
}
.left-text h3 {
    font-size: 3rem;
}

.left-text button {
    background-color:#3882f6;
    color: #f9faf8;
    border: none;
    padding: 0.5rem;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    max-width: 8rem;
        
}
.left-text button:hover {
    background-color: #ffffff;
    color: dodgerblue;
    border: none;
    padding: 0.5rem;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    max-width: 8rem; 
    box-shadow: 0 0 8px #113b7a,0 0 10px 3px #ffffff;
    
}
.banner img {
    width: 100%;
    height: auto;
}

.paan-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem  0;
    

}
.paan-detail h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
}
.paan-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 12rem;
    gap: 3rem;
    flex: 1;
       
}
/* figure {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 0.7rem;
   flex: 1;
} */
figure img {
    width: 100%;
    border: 5px solid #3882f6 ;   
    border-radius: 0.8rem;
    
    
}
figcaption {
    text-align: center;
    color: #2b2c2c;
    font-family: 'Roboto', sans-serif;
}
figure:hover {
    border-radius: 0.8rem 0.8rem 0 0;
    box-shadow: 0px -5px 12px 3px rgb(81, 84, 87);
}
.info {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;    
    align-items: center;
    gap: 2rem;
    padding: 2rem 12rem;
    
}
blockquote {
    color: #2d2e30;
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}
cite {
    font-size: 2.5rem;
    font-weight: bold;
    align-self: flex-end;
}
.third-container {
    padding: 3.5rem;    
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-signUP {
    border-radius: 0.8rem;
    padding: 2rem 3rem;
    background-color: #3882f6;
    color: #e5e7eb;    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}
.user-signUP .content {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
}
.callToAction {
    font-weight: bold;
}
button {
    background-color: #3882f6 ;
    color: #e5e7eb;
    font-weight: bold;
    font-size: 1rem;
    border: 0.2rem solid #ffffff;
    border-radius: 0.4rem;
    padding: 0.5rem 0.8rem;
}
button:hover {
    background-color: #ffffff ;
    color: #3570e7;
    font-weight: bold;
    font-size: 1rem;
    border: 0.2rem solid #ffffff;
    border-radius: 0.4rem;
    padding: 0.5rem 0.8rem;
    box-shadow: 0 0 1px 5px #ffffff;
}
footer {
    background-color: #252f3f;
    color: #ffffff;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}